## Descargar datos

In [2]:
!wget https://gist.githubusercontent.com/trantuyen082001/1fc2f5c0ad1507f40e721e6d18b34138/raw/56c3ca73768ceb74cdf6aa20ee7314c47d6ae08e/heart.csv -O data/original/heart.csv

--2025-10-03 23:51:45--  https://gist.githubusercontent.com/trantuyen082001/1fc2f5c0ad1507f40e721e6d18b34138/raw/56c3ca73768ceb74cdf6aa20ee7314c47d6ae08e/heart.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11019 (11K) [text/plain]
Saving to: ‘data/original/heart.csv’

100%[======================================>] 11,019      --.-K/s   in 0s

2025-10-03 23:51:45 (49.4 MB/s) - ‘data/original/heart.csv’ saved [11019/11019]

## Leer datos y reorganizar

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("data/original/heart.csv")

In [6]:
last_column = df.pop("output")

In [9]:
df.insert(0, "target", last_column)

## Dividir en train y test

In [12]:
train, test = train_test_split(df, test_size=0.7)

In [13]:
train

,target,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
195,0,59,1,0,170,326,0,0,140,1,3.4,0,0,3
158,1,58,1,1,125,220,0,1,144,0,0.4,1,4,3
179,0,57,1,0,150,276,0,0,112,1,0.6,1,1,1
17,1,66,0,3,150,226,0,1,114,0,2.6,0,0,2
272,0,67,1,0,120,237,0,1,71,0,1.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,1,56,1,1,130,221,0,0,163,0,0.0,2,0,3
66,1,51,1,2,100,222,0,1,143,1,1.2,1,0,2
49,1,53,0,0,138,234,0,0,160,0,0.0,2,0,2
86,1,68,1,2,118,277,0,1,151,0,1.0,2,1,3
293,0,67,1,2,152,212,0,0,150,0,0.8,1,0,3